<div class="sidebar-header">
  <h3>Expense Tracker</h3>
</div>
<div class="sidebar-menu">
  <ul>
    <li><a href="dashboard.html"><i class="fas fa-tachometer-alt"></i> &nbsp; Dashboard</a></li>
    <li><a href="income.html"><i class="fas fa-wallet"></i>&nbsp; Income</a></li>
    <li><a href="expenses.html"><i class="fas fa-money-bill-wave"></i> &nbsp; Expenses</a></li>
    <li><a href="categories.html"><i class="fas fa-list"></i>&nbsp; Categories</a></li>
    <li><a href="reports.html"><i class="fas fa-chart-pie"></i> &nbsp; Reports</a></li>
    <li><a href="profile.html"><i class="fas fa-user"></i> &nbsp; Profile</a></li>
    <li><a href="about.html"><i class="fa-solid fa-people-group"></i> &nbsp; Team</a></li>
  </ul>
</div>
<div class="sidebar-footer">
  <button onclick="logoutUser()" class="btn logout-btn btn-primary"><i class="fas fa-sign-out-alt"></i> Logout</button>
</div>